
<div class="hero-unit">
	<H1>Welcome to One Month Rails!</H1>
		<p>
			You've found the home page for the <%= link_to "One Month Rails", "http://onemonthrails.com" %> application.
		</p>
	<p>
		<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
	</p>
